.alphabet {border: 2px solid blue;
          width: 570px;
          height: 300px
}
.letter {border: 2px solid blue;
          width: 10%;
          height: 15%;
          float:left;
          font-size: 2em;
          text-align: center;
}